body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}

/* Navbar */
.navbar{
    min-height: 5rem;
    background-color: #fff;
}
.fa-compass{
    color: #fe424d;
   font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}

/* Footer */
.f-info-links a {
    text-decoration: none;
    color: #222222;
}
.f-info-links  :hover {
    text-decoration: underline;
}

.f-info-socials i {
    margin-right: 1rem;
     font-size: 1.2rem;
}

.f-info-socials, .f-info-links , .f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.f-info {
    height: 8rem;
    display: flex;
    background-color: #ebebeb;
    flex-wrap: wrap;
    text-align: center;
     align-items: center;
  justify-content: space-evenly;
}
@media (max-width: 768px) {
  .f-info {
    height: auto;
    padding: 1rem 0;
  }

  .f-info-links,
  .f-info-socials,
  .f-info-brand {
    margin: 0.5rem 0;
  }
}





/* cards */
.listing-card { 
    border :none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem  !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text p {
    font-weight: 400 !important;
}
.listing-link{
    text-decoration: none;
}

/* Card Effect */

.card-img-overlay{
    opacity: 0;
     transition: opacity 0.3s ease;
}
.card-img-overlay:hover{
   opacity: 0.15;
    background-color: white;
}
 /* New page */
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}

.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
     margin-right: 0.5rem;
}

/* Show page */
.show-img{
   width: 100%;
 height:30vh ;  
 object-fit: cover;
  border-radius: 1rem; 
}
 
.btns{
    display: flex;
}
.show-card{
    padding-right: 0;
    padding-left: 0;
}
.edit-img {
  max-width: 250px;
  height: auto;
  display: block;
  margin-bottom: 10px;
}


/*  */

 .listings-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  padding: 1rem;
}

.card-img-top {
  height: 220px;
  object-fit: cover;
  border-radius: 1rem;
}

/* Tablet */
@media (min-width: 768px) {
  .listings-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .listings-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

